<div align="center">
  <%= form_tag(results_path, method: "post") do %>
  <strong>Gym Name<br></strong>
  <%= text_field_tag :keyword %><br><br>
  <strong>City<br></strong>
  <%= text_field_tag :city %><br><br>
  <%= submit_tag "Search For Gyms" %><br>
  <% end %>
</div><br>

<div class="container-fluid">
  <div align="center">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @gyms.each do |gym| %>
                <tr>
                  <td>
                    <%= link_to(gym) do %>
                    <%= gym.name %>
                    <% end %>
                  </td>
                  <td><%= gym.address %></td>
                  <td>
                    <% if current_user.gyms.include?(gym) %>
                    <strong>Added!</strong>
                    <% else %>
                    <%= form_for @users_gym do |f| %>
                    <%= f.hidden_field :gym_id, :value => gym.id %>
                    <%= f.submit "Add To My Gyms", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>

</div>

<div>
  <div class="two-col">
    <div class="content">
      <div class="fc fc-ltr fc-unthemed" id="calendar">
        <div class="fc-toolbar">
          <div class="fc-left">
            <div class="fc-button-group">
              <button class="fc-prev-button fc-button fc-state-default fc-corner-left" type="button">
                <span class="fc-icon fc-icon-left-single-arrow"></span>
              </button>
              <button class="fc-next-button fc-button fc-state-default fc-corner-right" type="button">
                <span class="fc-icon fc-icon-right-single-arrow"></span>
              </button>
            </div>
            <button class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right" type="button">today</button>
          </div>
          <div class="fc-right">
            <div class="fc-button-group">
              <button class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active" type="button">month</button>
              <button class="fc-agendaWeek-button fc-button fc-state-default" type="button">week</button>
              <button class="fc-agendaDay-button fc-button fc-state-default fc-corner-right" type="button">day</button>
            </div>
          </div>
          <div class="fc-center">
            <h2>February 2015</h2>
          </div>
          <div class="fc-clear"></div>
        </div>
        <div class="fc-view-container" style="">
          <div class="fc-view fc-month-view fc-basic-view">
            <table>
              <thead class="fc-head">
                <tr>
                  <td class="fc-widget-header">
                    <div class="fc-row fc-widget-header">
                      <table>
                        <thead>
                          <tr>
                            <th class="fc-day-header fc-widget-header fc-sun">Sun</th>
                            <th class="fc-day-header fc-widget-header fc-mon">Mon</th>
                            <th class="fc-day-header fc-widget-header fc-tue">Tue</th>
                            <th class="fc-day-header fc-widget-header fc-wed">Wed</th>
                            <th class="fc-day-header fc-widget-header fc-thu">Thu</th>
                            <th class="fc-day-header fc-widget-header fc-fri">Fri</th>
                            <th class="fc-day-header fc-widget-header fc-sat">Sat</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody class="fc-body">
                <tr>
                  <td class="fc-widget-content">
                    <div class="fc-day-grid-container">
                      <div class="fc-day-grid">
                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 111px;">
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2015-02-01"></td>
                                  <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2015-02-02"></td>
                                  <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2015-02-03"></td>
                                  <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2015-02-04"></td>
                                  <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2015-02-05"></td>
                                  <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2015-02-06"></td>
                                  <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2015-02-07"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td class="fc-day-number fc-sun fc-past" data-date="2015-02-01">1</td>
                                  <td class="fc-day-number fc-mon fc-past" data-date="2015-02-02">2</td>
                                  <td class="fc-day-number fc-tue fc-past" data-date="2015-02-03">3</td>
                                  <td class="fc-day-number fc-wed fc-past" data-date="2015-02-04">4</td>
                                  <td class="fc-day-number fc-thu fc-past" data-date="2015-02-05">5</td>
                                  <td class="fc-day-number fc-fri fc-past" data-date="2015-02-06">6</td>
                                  <td class="fc-day-number fc-sat fc-past" data-date="2015-02-07">7</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable">
                                      <div class="fc-content">
                                        <span class="fc-title">All Day Event</span>
                                      </div>
                                      <div class="fc-resizer fc-end-resizer"></div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-not-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-title">Long Event</span>
                                      </div>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 111px;">
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2015-02-08"></td>
                                  <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2015-02-09"></td>
                                  <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2015-02-10"></td>
                                  <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2015-02-11"></td>
                                  <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2015-02-12"></td>
                                  <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2015-02-13"></td>
                                  <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2015-02-14"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td class="fc-day-number fc-sun fc-past" data-date="2015-02-08">8</td>
                                  <td class="fc-day-number fc-mon fc-past" data-date="2015-02-09">9</td>
                                  <td class="fc-day-number fc-tue fc-past" data-date="2015-02-10">10</td>
                                  <td class="fc-day-number fc-wed fc-past" data-date="2015-02-11">11</td>
                                  <td class="fc-day-number fc-thu fc-past" data-date="2015-02-12">12</td>
                                  <td class="fc-day-number fc-fri fc-past" data-date="2015-02-13">13</td>
                                  <td class="fc-day-number fc-sat fc-past" data-date="2015-02-14">14</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="fc-event-container" colspan="2">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end fc-draggable fc-resizable">
                                      <div class="fc-content">
                                        <span class="fc-title">Long Event</span>
                                      </div>
                                      <div class="fc-resizer fc-end-resizer"></div>
                                    </a>
                                  </td>
                                  <td rowspan="6"></td>
                                  <td class="fc-event-container" colspan="2">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable">
                                      <div class="fc-content">
                                        <span class="fc-title">Conference</span>
                                      </div>
                                      <div class="fc-resizer fc-end-resizer"></div>
                                    </a>
                                  </td>
                                  <td class="fc-event-container" rowspan="6">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">7a</span>
                                        <span class="fc-title">Birthday Party</span>
                                      </div>
                                    </a>
                                  </td>
                                  <td rowspan="6"></td>
                                </tr>
                                <tr>
                                  <td rowspan="5"></td>
                                  <td class="fc-event-container" rowspan="5">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">4p</span>
                                        <span class="fc-title">Repeating Event</span>
                                      </div>
                                    </a>
                                  </td>
                                  <td rowspan="5"></td>
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">10:30a</span>
                                        <span class="fc-title">Meeting</span>
                                      </div>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">12p</span>
                                        <span class="fc-title">Lunch</span>
                                      </div>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">2:30p</span>
                                        <span class="fc-title">Meeting</span>
                                      </div>
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="fc-event-container fc-limited">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">5:30p</span>
                                        <span class="fc-title">Happy Hour</span>
                                      </div>
                                    </a>
                                  </td>
                                  <td class="fc-more-cell" rowspan="1">
                                    <div>
                                      <a class="fc-more">+2 more</a>
                                    </div>
                                  </td>
                                </tr>
                                <tr class="fc-limited">
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">8p</span>
                                        <span class="fc-title">Dinner</span>
                                      </div>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 111px;">
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2015-02-15"></td>
                                  <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2015-02-16"></td>
                                  <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2015-02-17"></td>
                                  <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2015-02-18"></td>
                                  <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2015-02-19"></td>
                                  <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2015-02-20"></td>
                                  <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2015-02-21"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td class="fc-day-number fc-sun fc-past" data-date="2015-02-15">15</td>
                                  <td class="fc-day-number fc-mon fc-past" data-date="2015-02-16">16</td>
                                  <td class="fc-day-number fc-tue fc-past" data-date="2015-02-17">17</td>
                                  <td class="fc-day-number fc-wed fc-past" data-date="2015-02-18">18</td>
                                  <td class="fc-day-number fc-thu fc-past" data-date="2015-02-19">19</td>
                                  <td class="fc-day-number fc-fri fc-past" data-date="2015-02-20">20</td>
                                  <td class="fc-day-number fc-sat fc-past" data-date="2015-02-21">21</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                      <div class="fc-content">
                                        <span class="fc-time">4p</span>
                                        <span class="fc-title">Repeating Event</span>
                                      </div>
                                    </a>
                                  </td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 111px;">
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2015-02-22"></td>
                                  <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2015-02-23"></td>
                                  <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2015-02-24"></td>
                                  <td class="fc-day fc-widget-content fc-wed fc-past" data-date="2015-02-25"></td>
                                  <td class="fc-day fc-widget-content fc-thu fc-past" data-date="2015-02-26"></td>
                                  <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2015-02-27"></td>
                                  <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2015-02-28"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td class="fc-day-number fc-sun fc-past" data-date="2015-02-22">22</td>
                                  <td class="fc-day-number fc-mon fc-past" data-date="2015-02-23">23</td>
                                  <td class="fc-day-number fc-tue fc-past" data-date="2015-02-24">24</td>
                                  <td class="fc-day-number fc-wed fc-past" data-date="2015-02-25">25</td>
                                  <td class="fc-day-number fc-thu fc-past" data-date="2015-02-26">26</td>
                                  <td class="fc-day-number fc-fri fc-past" data-date="2015-02-27">27</td>
                                  <td class="fc-day-number fc-sat fc-past" data-date="2015-02-28">28</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td class="fc-event-container">
                                    <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable" href="http://google.com/">
                                      <div class="fc-content">
                                        <span class="fc-title">Click for Google</span>
                                      </div>
                                      <div class="fc-resizer fc-end-resizer"></div>
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 111px;">
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2015-03-01"></td>
                                  <td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2015-03-02"></td>
                                  <td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2015-03-03"></td>
                                  <td class="fc-day fc-widget-content fc-wed fc-other-month fc-past" data-date="2015-03-04"></td>
                                  <td class="fc-day fc-widget-content fc-thu fc-other-month fc-past" data-date="2015-03-05"></td>
                                  <td class="fc-day fc-widget-content fc-fri fc-other-month fc-past" data-date="2015-03-06"></td>
                                  <td class="fc-day fc-widget-content fc-sat fc-other-month fc-past" data-date="2015-03-07"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2015-03-01">1</td>
                                  <td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2015-03-02">2</td>
                                  <td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2015-03-03">3</td>
                                  <td class="fc-day-number fc-wed fc-other-month fc-past" data-date="2015-03-04">4</td>
                                  <td class="fc-day-number fc-thu fc-other-month fc-past" data-date="2015-03-05">5</td>
                                  <td class="fc-day-number fc-fri fc-other-month fc-past" data-date="2015-03-06">6</td>
                                  <td class="fc-day-number fc-sat fc-other-month fc-past" data-date="2015-03-07">7</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 112px;">
                          <div class="fc-bg">
                            <table>
                              <tbody>
                                <tr>
                                  <td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2015-03-08"></td>
                                  <td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2015-03-09"></td>
                                  <td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2015-03-10"></td>
                                  <td class="fc-day fc-widget-content fc-wed fc-other-month fc-past" data-date="2015-03-11"></td>
                                  <td class="fc-day fc-widget-content fc-thu fc-other-month fc-past" data-date="2015-03-12"></td>
                                  <td class="fc-day fc-widget-content fc-fri fc-other-month fc-past" data-date="2015-03-13"></td>
                                  <td class="fc-day fc-widget-content fc-sat fc-other-month fc-past" data-date="2015-03-14"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="fc-content-skeleton">
                            <table>
                              <thead>
                                <tr>
                                  <td class="fc-day-number fc-sun fc-other-month fc-past" data-date="2015-03-08">8</td>
                                  <td class="fc-day-number fc-mon fc-other-month fc-past" data-date="2015-03-09">9</td>
                                  <td class="fc-day-number fc-tue fc-other-month fc-past" data-date="2015-03-10">10</td>
                                  <td class="fc-day-number fc-wed fc-other-month fc-past" data-date="2015-03-11">11</td>
                                  <td class="fc-day-number fc-thu fc-other-month fc-past" data-date="2015-03-12">12</td>
                                  <td class="fc-day-number fc-fri fc-other-month fc-past" data-date="2015-03-13">13</td>
                                  <td class="fc-day-number fc-sat fc-other-month fc-past" data-date="2015-03-14">14</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
