<div align="center" class="form-group">
  <%= form_tag(results_path, method: "post") do %>
  <strong>Gym Name<br></strong>
  <%= text_field_tag :keyword %><br><br>
  <strong>City<br></strong>
  <%= text_field_tag :city %><br><br>
  <%= submit_tag "Search For Gyms", class: "btn btn-primary" %><br>
  <% end %>
</div><br>

<div class="container-fluid">
  <div align="center">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @gyms.each do |gym| %>
                <tr>
                  <td>
                    <%= link_to(gym) do %>
                    <%= gym.name %>
                    <% end %>
                  </td>
                  <td><%= gym.address %></td>
                  <td>
                    <% if current_user.gyms.include?(gym) %>
                    <strong>Added!</strong>
                    <% else %>
                    <%= form_for @users_gym do |f| %>
                    <%= f.hidden_field :gym_id, :value => gym.id %>
                    <%= f.submit "Add To My Gyms", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>

</div>
