<%= form_tag(results_path, method: "post") do %>
  <%= label_tag "Name" %><br>
  <%= text_field_tag :keyword %><br>
  <%= label_tag :city %><br>
  <%= text_field_tag :city %><br>
  <%= submit_tag "Search" %><br>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <% @gyms.each do |gym| %>
      <%= gym.name %><br>
    <% end %>
  </div>
</div>
