<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :challenges %><br>
    <%= f.text_area :challenges %>
  </div>
<button class="btn btn-primary" role="button" data-toggle="collapse" href="#armExercises" aria-expanded="false" aria-controls="collapseExample"> Arms
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#legExercises" aria-expanded="false" aria-controls="collapseExample"> Legs
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#backExercises" aria-expanded="false" aria-controls="collapseExample"> Back
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chestExercises" aria-expanded="false" aria-controls="collapseExample"> Chest
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#shoulderExercises" aria-expanded="false" aria-controls="collapseExample"> Shoulders
</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#absExercises" aria-expanded="false" aria-controls="collapseExample"> Abs
</button>

<div class="collapse" id="armExercises">
  <div class="well">
    <%= collection_check_boxes(:workout, :exercise_ids, Exercise.where("muscle_group = 'Arms'"), :id, :name) do |b| %>
      <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
      <% end %>
  </div>
</div>
<div class="collapse" id="legExercises">
  <div class="well">
   <%= collection_check_boxes(:workout, :exercise_ids, Exercise.where("muscle_group = 'Legs'"), :id, :name) do |b| %>
      <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
      <% end %>
  </div>
</div>
<div class="collapse" id="backExercises">
  <div class="well">
  <%= collection_check_boxes(:workout, :exercise_ids, Exercise.where("muscle_group = 'Back'"), :id, :name) do |b| %>
      <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
      <% end %>
  </div>
</div>
<div class="collapse" id="chestExercises">
  <div class="well">
<%= collection_check_boxes(:workout, :exercise_ids, Exercise.where("muscle_group = 'Chest'"), :id, :name) do |b| %>
      <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
      <% end %>
  </div>
</div>
<div class="collapse" id="shoulderExercises">
  <div class="well">
<%= collection_check_boxes(:workout, :exercise_ids, Exercise.where("muscle_group = 'Chest'"), :id, :name) do |b| %>
      <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
      <% end %>
  </div>
</div>
<div class="collapse" id="absExercises">
  <div class="well">
      <%= collection_check_boxes(:workout, :exercise_ids, Exercise.where("muscle_group = 'Abs'"), :id, :name) do |b| %>
      <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
      <% end %>
  </div>
</div>
  <div class="actions"><%= f.submit %></div>
<% end %>
