<p id="notice"><%= notice %></p>

<center><h1>All Workouts Created On FitHub</h1></center>
<center><h2>People like you have created <%= @workouts.count %> workouts on FitHub!</h2></center>
<!-- <table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Challenges</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.user_id %>
        <td><%= workout.name %></td>
        <td><%= workout.category %></td>
        <td><%= workout.description %></td>
        <td><%= workout.challenges %></td>
        <td><%= link_to 'Show', workout %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<% @workouts.each do |workout| %>
  <div class="row">
    <div align="center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class= "well well-sm" id="#medium_size">

          <% person = User.find_by_id(workout.users.order(:created_at).first)%>
          <h3>Created By: </h3><h4><%= person.name %><br></h4>
          <h3>Workout Title: </h3><h4><%= workout.name %><br></h4>
          <h3>Category: </h3><h4><%= workout.category %><br></h4>
          <h3>Description of the Workout: </h3><h4><%= workout.description %><br></h4>
          <h3>Workout Challenges: </h3><h4><%= workout.challenges %><br></h4>
          <h3><%= link_to "Show", workout %></h3>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
<% end %>
