<% if params[:search] %>
<% if @workouts.count == 1 %>
  <center><h2>There is <%= @workouts.count %> workout that matches your search!</h2></center>
<% else %>
  <center><h2>There are  <%= @workouts.count %> workouts that matches your search!</h2></center>
<% end %>
  <% @workouts.each do |workout| %>
    <div class="row">
      <div align="center">

        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class= "well well-sm" id="#medium_size">


            <h3>Created By: </h3><h4><%= workout.creator %><br></h4>
            <h3>Workout Title: </h3><h4><%= workout.name %><br></h4>
            <h3>Category: </h3><h4><%= workout.category %><br></h4>
            <h3>Description of the Workout: </h3><h4><%= workout.description %><br></h4>
            <h3>Workout Challenges: </h3><h4><%= workout.challenges %><br></h4>
            <h3><%= link_to "Show", workout %></h3>
            <i class="fa fa-heartbeat fa-2x"> <%= workout.likes.count%> </i>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  <% end %>
  <center><h3><%= link_to "Back To All Workouts", workouts_path %></h3></center>
<% else %>
  <center><h1>All Workouts Created On FitHub</h1></center>
  <% if @workouts.count == 1 %>
    <center><h2>People like you have created <%= @workouts.count %> workout on FitHub!</h2></center>
  <% else %>
    <center><h2>People like you have created <%= @workouts.count %> workouts on FitHub!</h2></center>
  <% end %>
  
  <center>
    <%= form_tag workouts_path, :method => 'get' do %>
      <p><i>Search by Category, Workout Name, or Creator</i><br>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil, class:"btn btn-primary btn-xs" %>
      </p>
    <% end %>
  </center>
  <% @workouts.each do |workout| %>
    <div class="row">
      <div align="center">

        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class= "well well-sm" id="#medium_size">


            <h3>Created By: </h3><h4><%= workout.creator %><br></h4>
            <h3>Workout Title: </h3><h4><%= workout.name %><br></h4>
            <h3>Category: </h3><h4><%= workout.category %><br></h4>
            <h3>Description of the Workout: </h3><h4><%= workout.description %><br></h4>
            <h3>Workout Challenges: </h3><h4><%= workout.challenges %><br></h4>
            <h3><%= link_to "Show", workout %></h3>
            <i class="fa fa-heartbeat fa-2x"> <%= workout.likes.count%> </i>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  <% end %>
<% end %>
