<p id="notice"><%= notice %></p>

<h1>All Workouts Created On FitHub</h1>

<!-- <table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Challenges</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.user_id %>
        <td><%= workout.name %></td>
        <td><%= workout.category %></td>
        <td><%= workout.description %></td>
        <td><%= workout.challenges %></td>
        <td><%= link_to 'Show', workout %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<% @workouts.each do |workout| %>
  <div class= "well well-sm">
    <% person = User.find_by_id(workout.user_id)%>
    <h4>Created By: <%= person.name %><br></h4>
    <h4>Workout Title: <%= workout.name %><br></h4>
    <h4>Category: <%= workout.category %><br></h4>
    <h4>Description of the Workout: <%= workout.description %><br></h4>
    <h4>Workout Challenges:<%= workout.challenges %><br></h4>
    <h5><%= link_to "Show", workout %></h5>
  </div>
<% end %>
