<% if params[:search] %>
<% if @workouts.count == 1 %>
<center>
  <h2>There is
    <%= @workouts.count %>
    workout that matches your search!</h2>
</center>
<% else %>
<center>
  <h2>There are
    <%= @workouts.count %>
    workouts that matches your search!</h2>
</center>
<% end %>
<div class="container-fluid">
  <div align="center">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">Workouts</div>
          <table class="table">

            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Creator</th>
              <th></th>
            </tr>
            <% @workouts.each do |workout| %>
            <tr>
              <td><%= link_to workout.name, workout, class: "btn btn-primary btn-xs" %></td>
              <td><%= workout.category %></td>
              <td><%= workout.creator %></td>
              <td>
                <i class="fa fa-heartbeat fa-lg">
                  <%= workout.likes.count %></i>
              </td>
            </tr>
            <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<center>
  <h3><%= link_to "Back To All Workouts", workouts_path %></h3>
</center>
<% else %>
<center>
  <h2>All Workouts Created On FitHub</h2>
</center>
<div class="panel panel-default" style="min-height:700px;">
<% if @workouts.count == 1 %>
<center>
  <h2>People like you have created
    <%= @workouts.count %>
    workout on FitHub!</h2>
</center>
<% else %>
<center>
  <h2>People like you have created
    <%= @workouts.count %>
    workouts on FitHub!</h2>
</center>
<% end %>

<center>
  <form class="form-inline">
    <%= form_tag workouts_path, :method => 'get' do %>
    <p>
      <i>Search by Category, Workout Name, or Creator</i><br>
      <div id="workouts-input">
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= submit_tag "Search", :name => nil, class:"btn btn-primary btn-md" %>
      </div>
    </p>
    <% end %>
  </form>
</center>
<div class="container-fluid">
  <div align="center">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">Workouts</div>
          <table class="table">

            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Creator</th>
              <th></th>
            </tr>
            <% @workouts.each do |workout| %>
            <tr>
              <div style="color:black"><td><%= link_to workout.name, workout, class: "btn btn-primary btn-xs" %></td></div>
              <td><%= workout.category %></td>
              <td><%= workout.creator %></td>
              <td>
                <i class="fa fa-heartbeat fa-lg">
                  <%= workout.likes.count %></i>
              </td>
            </tr>
            <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
