<% if notice %>
<div class="container-fluid" id="medium_size">
  <div class="alert alert-success" role="alert">
    <p align="center">
      <%= notice %>
    </p>
  </div>
</div>
<% end %>
<% @workout_count= [] %>
<% @my_workouts.each do |workout| %>
<% if workout.user_id == current_user.id %>
<% @workout_count << workout %>
<% end %>
<% @workout_count %>
<% end %>
<% if @workout_count.count == 1 %>
<center><h1>You have created <%= @workout_count.count %> workout so far!</h1></center><br>
<% else %>
<center><h1>You have created <%= @workout_count.count %> workouts so far!</h1></center><br>
<% end %>
<% @my_workouts.each do |workout| %>
<% if workout.user_id == current_user.id %>
  <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">

          <div class="panel-heading">
            <%= workout.name %>
          </div>
          <div class="panel-body">
            <h3>Created By: </h3><h4><%= workout.creator %></h4>
            <h3>Category: </h3><h4><%= workout.category %></h4>
            <h3>Description of Workout: </h3><h4><%= workout.description %></h4>
            <h3>Challenges: </h3><h4><%= workout.challenges %></h4>
            <h4><%= link_to '<i class="fa fa-trash"></i> Show'.html_safe, workout, class: "btn btn-primary" %></h4>
            <h4><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></h4>
          </div>
          <% end %>

        </div>
      </div>
  </div>
<% end %>
