<!-- <p id="notice"><%= notice %></p> -->


    <div class="row">
        <div class="col-md-3">

        </div>


        <div class="col-md-6">
          <div class="row">
            <div class="well well-sm">
              <% creator_id = @workout.user_id %>
              <% creator = User.find_by_id(creator_id).name %>
              <h3>Created By: <%= creator %></h3>
              <h3>Workout: <%= @workout.name %></h3>
              <h3>Category: <%= @workout.category %></h3>
              <h3>Description of Workout: <%= @workout.description %></h3>
              <h3>Challenges: <%= @workout.challenges %></h3>
            </div>
          </div>
            <% @workout.exercises.each do |e| %>
              <div class="well well-sm">
                <h3><%= e.name %><br></h3>
                <h5>Category: <%= e.muscle_group %><br></h5>
                <h5>Muscles Worked: <%= e.specific_muscles_worked %><br></h5>
                <h5> <p>
                  How-To: <%= e.guide %><br>
                </p><br></h5>
              </div>
            <% end %>
            <!-- If the first user for the workout is not the current user  -->
            <!-- And if the users for the workout includes current user -->
            <% if @workout.user_id != current_user.id%>
              <%= form_for @users_workout, method: :post do |f| %>
              <%= f.hidden_field :workout_id, :value => @workout.id%>
              <%= f.hidden_field :user_id, :value => current_user.id%>
              <center>
                <%= f.submit "Join This Workout!", :class => "btn btn-primary" %>
              </center>
              <% end %>
            <% end %>

        </div>
        <div class="col-md-3"></div>

    </div>





<% if @workout.user_id == current_user.id %>
  <center>
    <h3><%= link_to 'Edit', edit_workout_path(@workout) %> | <%= link_to 'Back', my_workouts_path %></h3>
  </center>
<% else %>
<center>
  <h3><%= link_to 'Back', my_workouts_path %></h3>
</center>
<% end %>
