<p id="notice"><%= notice %></p>

<h1>Listing Weekdays Workouts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekdays_workouts.each do |weekdays_workout| %>
      <tr>
        <td><%= link_to 'Show', weekdays_workout %></td>
        <td><%= link_to 'Edit', edit_weekdays_workout_path(weekdays_workout) %></td>
        <td><%= link_to 'Destroy', weekdays_workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekdays workout', new_weekdays_workout_path %>
