<p id="notice"><%= notice %></p>

<h1>Listing Exercises</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <div class="well">
    <h1>Arm Exercises</h1>
    <%= collection_check_boxes(:exercise, :name, Exercise.where("muscle_group = 'Arms'"), :id, :name) do |b| %>
    <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
    <% end %>
    </div>
    <div class="well">
    <h1>Leg Exercises</h1>
    <%= collection_check_boxes(:exercise, :name, Exercise.where("muscle_group = 'Legs'"), :id, :name) do |b| %>
    <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
    <% end %>
    </div>
    <div class="well">
    <h1>Back Exercises</h1>
    <%= collection_check_boxes(:exercise, :name, Exercise.where("muscle_group = 'Back'"), :id, :name) do |b| %>
    <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
    <% end %>
    </div>
    <div class="well">
    <h1>Shoulder Exercise</h1>
    <%= collection_check_boxes(:exercise, :name, Exercise.where("muscle_group = 'Shoulders'"), :id, :name) do |b| %>
    <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
    <% end %>
    </div>
    <div="well">
    <h1>Chest Exercises</h1>
    <%= collection_check_boxes(:exercise, :name, Exercise.where("muscle_group = 'Chest'"), :id, :name) do |b| %>
    <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
    <% end %>
    </div> 
    <div class="well">
    <h1>Abdominal Exercises</h1>
    <%= collection_check_boxes(:exercise, :name, Exercise.where("muscle_group = 'Abs'"), :id, :name) do |b| %>
    <%= b.label(:"name" => b.value) { b.check_box + b.text } %><br>
    <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise', new_exercise_path %>
