<p id="notice"><%= notice %></p>

<h1>Listing Gyms Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gyms_users.each do |gyms_user| %>
      <tr>
        <td><%= link_to 'Show', gyms_user %></td>
        <td><%= link_to 'Edit', edit_gyms_user_path(gyms_user) %></td>
        <td><%= link_to 'Destroy', gyms_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gyms user', new_gyms_user_path %>
