<% if current_user.workouts.empty? %>

  <div align="center">
    <div class="container-fluid">
      <div class= "well well-sm">
            <h1>Hey <%= current_user.name %>, Welcome to FitHub!</h1><br>
            <h2>Today is <%= Time.now.strftime("%B %e, %Y")%></h2>
            <h2>What Workout Will You Conquer?</h2>
      </div>
      <div class="well well-sm">
        <h2>Start by creating your first workout!</h2><br>
        <h2><%= link_to "Click Here To Create A Workout!", new_workout_path %></h2>
      </div>
    </div>
  </div>

<% else %>

  <div align="center">
    <div class="container-fluid">
      <div class= "well well-sm">
            <h1>Hey <%= current_user.name %>, it's nice to have you back on FitHub!</h1><br>
            <h2>Today is <%= Time.now.strftime("%B %e, %Y")%></h2>
            <h2>What Workout Will You Conquer?</h2>
      </div>
      <div class="well well-sm">
        <h2>The Latest Addition to My Workouts</h2><br>
        <% @recent_workout = current_user.workouts.last %>
        <% creator_id = @recent_workout.user_id %>
        <% creator = User.find_by_id(creator_id).name %>
        <h4>Created By: <%= creator%></h4>
        <h4>Name Of The Workout: <%= @recent_workout.name %></h4>
        <h4>Category: <%= @recent_workout.category %></h4>
        <h4>Description: <%= @recent_workout.description %></h4>
        <h4>Workout Challenges: <%= @recent_workout.challenges %></h4>
        <h3><%= link_to "Check Out This Workout!", @recent_workout %></h3>
      </div>
    </div>
  </div>

<% end %>
