<% if notice %>
<%= display_status("success", "notice").html_safe %>
<% end %>

<% if alert %>
<%= display_status("danger", "alert").html_safe %>
<% end %>

<div style="margin-left:100px">
  <h1><%= current_user.name %></h1><br>
</div>
<div class="row">
  <div class="col-md-8" style="margin-left:40px">
    <div class="panel panel-default">
      <div class="panel-body">
        <div align="center">
          <h2><i class="fa fa-bar-chart" id="black-icon"></i> Your Personal Stats</h2>
          <h5>Current Body Weight:
            <%= current_user.c_bodyweight %>
            lbs<br></h5>
          <h5>Current Bench Weight:
            <%= current_user.c_bench %>
            lbs<br></h5>
          <h5>Current Squat Weight:
            <%= current_user.c_squat %>
            lbs<br></h5>
          <h5>Current Deadlift Weight:
            <%= current_user.c_deadlift %>
            lbs<br></h5>
        </div><br><br>
      </div>
      <div align="center">
        <h2>
          <i class="fa fa-child" id="black-icon"></i>
          Your Future Goals</h2>
        <h5>Target Body Weight:
          <%= current_user.t_bodyweight %>
          lbs<br></h5>
        <h5>Target Bench Weight:
          <%= current_user.t_bench %>
          lbs<br></h5>
        <h5>Target Squat Weight:
          <%= current_user.t_squat %>
          lbs<br></h5>
        <h5>Target Deadlift Weight:
          <%= current_user.t_deadlift %>
          lbs<br></h5><br>
        <div class="button">
          <h3><%= link_to '<i class="fa fa-edit fa-lg"></i> Edit Profile'.html_safe,  edit_user_path(current_user.id), class: "btn btn-primary" %></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Friends</div>
        <div class="panel-body">
          <% if current_user.friendships.count == 1 %>
          <i class="fa fa-user fa-lg">
            Following:
            <%= current_user.friendships.count %></i>
          <% else %>
          <i class="fa fa-user fa-lg">Following:
            <%= current_user.friendships.count %>
          </i>

          <% end %>
          <ul>
            <% for friendship in current_user.friendships %>

            <%= friendship.friend.name %>
            |
            <%= link_to "Remove", friendship, :method => :delete %><br>

            <% end %>
          </ul>

          <p><%= link_to "Find Friends", users_path, class: "btn btn-primary btn-xs" %></p>
          <% if current_user.inverse_friends.count == 1 %>
          <i class="fa fa-users fa-2x">
            Followers:
            <%= current_user.inverse_friends.count %>
          </i>
          <% else %>
          <i class="fa fa-users fa-2x">
            Followers:
            <%= current_user.inverse_friends.count %>
          </i>
          <% end %>

          <ul>
            <% for user in current_user.inverse_friends %>
            <%= user.name %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">Gyms you have joined!</div>
        <div class="panel-body">
          <ul>
            <% current_user.gyms.each do |gym| %>
            <%= link_to(gym) do %>
            <h4><%= gym.name %></h4>
            <% end %>
            <%= gym.address %><br>
            <% if gym.joined_gyms(current_user) %>
            <%= form_for gym.joined_gyms(current_user), method: :delete do |f| %>
            <h4><%= f.submit "Unfollow This Gym", class: "btn btn-primary btn-xs"%></h4>
            <% end %>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
