<% @user = User.find(params[:id])%>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
          <center><h1><%= @user.name %></h1></center>
      </div>
      <center>
        <h2>Most Recent Workout</h2>
        <%= link_to(@user.workouts.where(:user_id => @user.id).last) do %>
          <h3><%= @user.workouts.where(:user_id => @user.id).last.name %></h3>
        <% end %>
        <h2>Joined Gyms</h2>
        <% @user.gyms.each do |gym| %>
          <%= link_to(gym) do %>
            <h3><%= gym.name%></h3>
          <% end %>
          <h3><%= gym.address %></h3>
          <% end %>

      </center>


    </div>
  </div>
  <div class="col-md-3"></div>
</div>
